<section id="add">
	<form action="/" method="post">
		<textarea name="content" id="" placeholder="Your note&hellip;"></textarea>
		<input type="submit" value="Take Note">
	</form>
</section>

<div class="container" ng-view></div>


<!-- <pre>
	<%= @notes.to_json %>
</pre>
 -->