<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= @title + ' | Recall' %></title>    
  <link href="/css/styles.css" rel="stylesheet">
</head>  

<body ng-app="testApp">
  <header>  
    <hgroup>  
      <h1><a href="/">Recall</a></h1>  
      <h2>'cause you're too busy to remember</h2>  
    </hgroup>  
  </header> 
  
  <div id="main">  
    <%= yield %>  
  </div>  
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="http://code.angularjs.org/1.0.2/angular-resource.min.js"></script>

  <!-- build:js js/js.js -->
  <script src="js/test.js"></script>
  <script src="js/controllers/main.js"></script>
  <script type="text/javascript" src="js/services/services.js"></script>
  <!-- endbuild -->
  
</body>  
</html> 